################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExamsGenerator/ExamsGenerator/bin
/ExamsGenerator/ExamsGenerator/obj/Debug
/ExamsGenerator/.vs
/ExamsGenerator/packages
/ExamsGenerator/ExamsGenerator/ApplicationInsights.config
/ExamsGenerator/ExamsGenerator/ExamsGenerator.csproj.user
/Core/ExamsGenerator/.vs
/Core/ExamsGenerator/ExamsGenerator/bin/Debug/netcoreapp2.0
/Core/ExamsGenerator/ExamsGenerator/obj
