
@{
    ViewData["Title"] = "Teacher's Portal";
}

<h2>Welcome to the Teacher's portal!</h2>

<p>
    <a asp-controller="Question"
       asp-action="Index">Navigate all exam questions</a>

</p>
<p>
    <a asp-controller="Question"
       asp-action="Create">Create a new question</a>
</p>

